<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

	<!-- bean definitions here -->
	<bean name="studentOne" class="com.sourav.xml.Student" init-method="init" destroy-method="destory">
		<property name="id" value="101"></property> 
		<property name="name" value="Sourav"></property>
	</bean>
</beans>
