<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

	<!-- bean definitions here -->
	<bean name="studentOne" class="com.sourav.collection.Student" > 
		<property name="name" value="Sourav"></property>
		<property name="address">
			<list>
				<value>India</value>
				<value>USA</value>
			</list>
		</property>
		<property name="phoneNumber">
			<set>
				<value>123</value>
				<value>321</value>
			</set>
		</property>
		<property name="courses">
			<map>
				<entry key="Java" value="2Months"></entry>
				<entry key="C++" value="1Months"></entry>
			</map>
		</property>
	</bean>
</beans>
